/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

// Some variables
$green: #1ed760;
$blue: #2941ab;
$light-grey: #d9dadc;
$medium-grey: #919496;
$dark-grey: #222326;
$poppins: "Poppins", sans-serif;
